<div class="header">
	<div class="container">
		<ul class="list-inline">
			<li><a href="https://dev.twitter.com/"><img src="https://abs.twimg.com/a/1377219190/images/resources/twitter-bird-dark-bgs.png" height="48" width="48"></a></li>
			<li class="branding"><a href="./">Tweepy</a></li>
			<li><a href="http://pythonhosted.org/tweepy/html/getting_started.html">Getting Started</a></li>
			<li><a href="http://pythonhosted.org/tweepy/html/">Documentation</a></li>
			<li><a href="https://github.com/tweepy/tweepy">Fork on Github</a></li>
		</ul>
	</div>
</div>