<div class="header">
  <div class="container">
    <ul class="list-inline">
      <li><a href="https://dev.twitter.com/"><img src="https://abs.twimg.com/a/1377219190/images/resources/twitter-bird-dark-bgs.png" height="48" width="48"></a></li>
      <li class="branding"><a href="/">{{ site.name }}</a></li>
      <li><a href="https://tweepy.readthedocs.org/en/stable/">Read the Docs</a></li>
      <li><a href="http://discuss.tweepy.org/">Discuss with Others</a></li>
      <li><a href="https://github.com/tweepy/tweepy/issues">Report a Bug</a></li>
    </ul>
  </div>
</div>
